body { background: #000; color: #fff; font-family: 'VT323', monospace; }

h1, h2, h3 { font-family: 'VT323', monospace; font-weight: normal; }

h1 { text-align: center; font-size: 2em; }

h2 { text-align: center; }

section.main { width: 95%; border: solid 5px #ffffff; margin: 0 auto; padding: 15px; }

section.game-list { width:95%; border: solid 2px #ffffff; margin-left: auto; margin-right: auto; margin-bottom: 50px; text-align: center; }
section.game-list .top-header { position: relative; top: -35px; background: #111; width: 200px; margin: 0 auto; }

section.game-list .game-item { height: 250px; background: #222; border: dashed 2px #333; float: left; margin: 10px; width: 200px; text-align: center; }
section.game-list .game-item img { width: 100%; border-bottom: dashed 2px #333; }
section.game-list .game-item p { padding: 0; margin: 0; }
section.game-list .game-item .title { font-size: 1.5em; }
section.game-list .game-item .title.small-text { font-size: 1.0em; }
section.game-list.links .game-item { height: 150px; }

hr { height: 5px; border: none; background: #161616; margin-bottom: 50px; }

a, a:link { color: #ffff00; }

footer { text-align: center; }

.clear { clear: both; }

.game.modal { width: 800px; height: 600px; background: #111; border-radius: 0; max-width: none; }
.game.modal iframe { width: 100%; height: 500px; margin: 0 auto; clear: both; border: none; }

.game.modal #close-game { border-radius: 50px; background: #b11313;
    color: #ffffff; width: 30px; height: 30px; text-align: center; text-decoration: none;
    position: absolute; top: -15px; right: -15px;
     }
.game.modal #close-game a { margin-top: 5px; font-family: sans-serif; }






.game-window { width: 600px; height: 470px; margin: 0 auto; background: #000; }
.game-window textarea,
.game-window input[type=text] { background: none; color: #ffffff; font-family: 'VT323', monospace; border: none; }

.game-window textarea { width: 70%; height: 85%; font-size: 16pt; float: left; }
.game-window input[type=text] { width: 100%; height: 10%; font-size: 12pt; border-bottom: solid 1px #ffffff; }

.game-window .sidebar { width: 25%; float: right; text-align: center; }
.game-window .sidebar img { width: 100%; }
